[flake8]
max-line-length = 79
extend-ignore = E203, W503
exclude = 
    .git,
    __pycache__,
    .pytest_cache,
    build,
    dist,
    .venv,
    venv,
    *.egg-info
per-file-ignores =
    __init__.py:F401
    console_main.py:E402